/laradock
/node_modules
/frontend/node_modules
/infrastructure/node_modules
/public/hot
/public/storage
/public/css/**
/public/js/**
/public/img/**
/public/images/**
/public/mix-manifest.json
/public/code_coverage
/public/resources/**
/public/demofiles
/public/vendor/
/storage/*.key
/storage/debugbar
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
code_coverage/*
coverage/*
.DS_Store
.vscode*
public/test-report.html
.idea
aapdock/nginx/ssl
/cypress/downloads
/cypress/screenshots
/cypress/videos
storage/tests/*
aapdock/postgres/data/*
aapdock/.env
